body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Nerko One', cursive;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #b7ba00; 
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #b7ba00; /* Blue */
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    border-radius: 20px;
    margin: 10px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3{
    text-align: center;
    font-size: 25px;
    color: rgb(65, 66, 95);
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-add.disabled {
    background-color: white;
    color: black;
    border: 2px solid #be885c; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add.disabled:hover {
    background-color: #be885c; /* Green */
    color: white;
}